@backgroundColor: rgba(29, 29, 29, 0.98);

.backgroundColor {
  background-color: @backgroundColor;
}

//chyba pokud je otevrenej modal nejde klikat v Alertu na cancel
.modal-open.loading-active {
  pointer-events: auto;
}

/**** partyboard.html ****/
@size: 80px;
.footerPB {
  height: @size;

  textarea {
    //width: 9999px;
    background-color: #EEE;
    height: 70px;
    font-size: 16px;
  }
}

.contentPB {
  margin-bottom: @size;
  .viewMessage {
    position: relative;
    font-size: medium;
  }
}

.obalMsg{
  margin-bottom:1ch;
  position: relative;
  border-radius: 1ch;
  margin-left: 1ch;
  margin-right: 1ch;
  color:white;
}

.obsah{
  display:table-cell;
  padding: 1ch;
}

.buttona{
  display: table-cell;
  vertical-align: top;
}

/****  registrace alert  ****/
.error {
  display: none;
  color: #FFAEAE;
}

.has-error {
  display: inline;
}

.loadingClose{
  position:relative;
  top:-3ch;
  right: -3.5ch;
  margin-left: -3ch;
}

.hideButton {
  display: none;
}



