@backgroundColor: rgba(29, 29, 29, 0.98);

.backgroundColor {
  background-color: @backgroundColor;
}

//chyba pokud je otevrenej modal nejde klikat v Alertu na cancel
.modal-open.loading-active {
  pointer-events: auto;
}

/**** partyboard.html ****/
@size: 80px;
.footerPB {
  height: @size;

  textarea {
    //width: 9999px;
    background-color: #EEE;
    height: 70px;
    font-size: 16px;
  }
}

.contentPB {
  margin-bottom: @size;
  .viewMessage {
    div {
      border-radius: 10px;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
      color: red;

    }
    p {
      color: white;
      margin: 10px 10px 10px 10px;
    }
  }
}

/****  registrace alert  ****/
.error {
  display: none;
  color: #FFAEAE;
}

.has-error {
  display: inline;
}



.obalMsg{
  clear:both;
  display: table;
}
.loadingClose{
  position:relative;
  top:-3ch;
  right: -3.5ch;
  margin-left: -3ch;
}

.hideButton {
  display: none;
}


