<ion-view   ng-controller="AdministrationController">
  <ion-nav-title> {{"administration" | translate}} </ion-nav-title>
  <ion-content scroll="false">
    <ul class="list">

      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"colors" | translate}}
          </div>
          <select ng-change="colorChangeBackground(colorBack)" ng-model="colorBack" ng-options="color.name for color in colors"></select>
        </label>
      </li>
      <li class="item item-divider"></li>
      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"colors" | translate}}
          </div>
          <select ng-change="colorChangeText(colorText)" ng-model="colorText" ng-options="color.name for color in colors"></select>
        </label>
      </li>


    </ul>
  </ion-content>
</ion-view>
