<ion-modal-view ng-controller="InfoController">
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="modalService.hideInfo()"><i
                    class="icon ion-ios-arrow-left"></i>{{"backButton" | translate}}
            </button>
        </div>
        <h1 class="title">{{"info" | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <p>Proste tady budou nejaky kecy, obrazky atd...</p>

    </ion-content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item">
            <i class="icon ion-home"></i>
            SMS
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
            Message Internet
        </a>
    </div>
</ion-modal-view>