<ion-view view-title="{{'info' | translate}}" class="backgrouncColor">
    <ion-content>
        <p>Proste tady budou nejaky kecy, obrazky atd...</p>

    </ion-content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item">
            <i class="icon ion-home"></i>
            SMS
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
            Message Internet
        </a>
    </div>
</ion-view>


<!--
<ion-modal-view ng-controller="SettingsController">
    <ion-header-bar class="bar-positive">

        <div class="buttons">
            <button class="button button-clear" ng-click="modalService.hideSettings()"><i class="icon ion-ios-arrow-left"></i>{{"BACK_BUTTON" | translate}}</button>
        </div>

        <h1 class="title">{{"SETTINGS_HEADER" | translate}}</h1>
    </ion-header-bar>
-->