<!--<ion-nav-back-button>-->
<!--</ion-nav-back-button>-->
<ion-view view-title='{{"info" | translate}}' ng-controller="InfoController">
    <ion-content>
        <p>Proste tady budou nejaky kecy, obrazky atd...</p>

    </ion-content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item">
            <i class="icon ion-home"></i>
            SMS
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
            Message Internet
        </a>
    </div>
</ion-view>