<ion-modal-view ng-controller="RegistrationController">
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="modalService.hideRegistration()"><i
                    class="icon ion-ios-arrow-left"></i>{{"backButton" | translate}}
            </button>
        </div>
        <h1 class="title">{{"registrationForm" | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <p>formular pro registraci</p>
    </ion-content>
</ion-modal-view>