<ion-view view-title='{{"setting" | translate}}' ng-controller="SettingController">

  <ion-content>
    <ul class="list">
      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"selectionPB" | translate}}
          </div>
          <select ng-change="selectionPartyboard(partyboard)" ng-model="partyboard" ng-options="partyboard.name for partyboard in partyboards"></select>
        </label>
      </li>
      <li class="item item-input">
          <span class="input-label">{{"setNick" | translate}}</span>
          <input ng-readonly="true" style="text-align: center; background-color: white;" ng-value="userFactory.getNick()" type="text">
      </li>
      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"setMessage" | translate}}
          </div>
          <select ng-change="selectionTypeMessage(typeMessage)" ng-model="typeMessage" ng-options="typeMessage.name for typeMessage in typeMessages"></select>
        </label>
      </li>

      <li class="item item-divider"></li>

      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"colors" | translate}}
          </div>
          <select ng-change="colorChange(color)" ng-model="color" ng-options="color.name for color in colors"></select>
        </label>
      </li>

      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"language" | translate}}
          </div>
          <select ng-change="changeLanguage(language.shade)" ng-model="language" ng-options="language.name for language in languages"></select>
        </label>
      </li>
    </ul>
  </ion-content>
</ion-view>