<ion-view class="backgroundColor" ng-controller="UsersBanController">
    <ion-nav-title>  {{"usersBan" | translate}} </ion-nav-title>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-list>
            <ion-item ng-repeat="item in items" item="item">
                <span ng-show="item.users.nick != null">  {{ item.users.nick }} -</span>
                <span ng-show="item.users.nick == null">  {{ item.phone }} -</span>
                 {{ item.length_hour }} hod. - {{ item.create_ts }}
                <ion-option-button class="button-balanced" ng-click="unBan(item)">
                    unBan
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>